.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.redLabel label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
	color: red;
}