﻿@CHARSET "UTF-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body {
    background: url(/Content/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
    margin: 100px auto;
    max-width: 446px;
}

#Form1 {
    font: 18px/2.2em Lato, serif;
    color: #b4b4b4;
    background: #fff;
    max-width: 446px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 40px 30px 40px;
}

#Form1 h3 {
    font-size: 24px;
    color: #0b2344;
}

#Form1 h4 {
    margin: 15px 0 30px 0;
}

#Form1 input,
#Form1 button {
    font-size: 16px;
    margin: 5px 0;
}

#Form1 input[type=text],#Form1 input[type=password] {
    color: #d5d5d5;
    background: #fff;
    box-shadow: none;
    height: 46px;
    padding: 10px;
    line-height: 1.33;
    border-radius: 6px;
    width:100%;
}

#Form1 input::-webkit-input-placeholder {
    color: #c1c4c5;
}

#Form1 input:-moz-placeholder {
    color: #c1c4c5;
}

#Form1 input::-moz-placeholder {
    color: #c1c4c5;
}

#Form1 input:-ms-input-placeholder {
    color: #c1c4c5;
}

#Form1 > div {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

#Form1 > div a {
    font-size: 15px;
    color: #007fff;
}

#Form1 table {
    width: 100%;
}