﻿
.dropdown-menu > li > a {
    display: inline-block;
    padding: 3px 20px 3px 20px;
}

.dropdown-menu > li > a:hover {
    background:transparent;
    padding: 3px 20px 3px 20px;
}

.dropdown-menu > li > i {
    padding-left: 20px;
}

#title h1,#title i {
    display:inline-block;
    padding:10px;
}
